<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="Author" content="enjoymi">
    <meta name="keywords" content="三国战纪,三国战纪:竞技，三国战纪2，武将攻略，武将对战，1vs1，手游">
    <meta name="description" content="欢动游戏厅是《三国战纪》官方正版手游的玩家社区，玩家在游戏之余，可在此畅所欲言，发攻略、提问题，回忆街机情怀，认识新的朋友！快来一起玩吧！">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>欢动游戏厅</title>
    <script>
        function setRootFontSize() {
            var width = document.documentElement.clientWidth, fontSize;
            if (width > 540) width = 540;
            fontSize = (width / 7.5);
            document.getElementsByTagName('html')[0].style['font-size'] = fontSize + 'px';
            window.wapParams = { rootFontSize: fontSize, clientWidth: width };
        }
        setRootFontSize();
        window.addEventListener('resize', function() {
            setRootFontSize();
        }, false);
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?e631a977e3c704e04b6643ef7c26d2a0";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
        
    <style>
        .mt-fading{
            background: #f2f2f2;
        }
        .loadend{
            display:block;
            height: 0.7rem;
            line-height:0.7rem;
            text-align:center;
        }
        .mint-spinner-fading-circle{
            margin: auto;
        }
    </style>
</head>
<body class="add_bg">
    <div id="app"></div>
</body>
</html>