.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .point{
        position: absolute;
        top: 50%;
        width: 0.56rem;
        height: 0.4rem;
        right: 0.3rem;
        margin-top: -0.2rem;
        background-position: -0.9rem -0.2rem;
    }
    .post-tip{
        position: absolute;
        right: 0.2rem;
        top: 0.8rem;
        width: 0.6rem;
        height: 1.6rem;
        font-size: 14px;
        color: #000;
        padding: 0 0.2rem;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        background: #fff;
        z-index: 9;
        span{
            display: block;
            height: 0.8rem;
            line-height: 0.8rem;
            text-align: center;
            &:first-child{
                color: #ccc;
                border-bottom: 1px solid #e2e2e2;
            }
        } 
    }
}
/*一级用户信息*/
.comment-first-user{
    position: relative;
    height: 0.8rem;
    margin-top: 0.98rem;
    padding: 0.1rem 0.3rem;
    background: #fff;
    img{
        float: left;
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.2rem;
        border-radius: 50%;
        object-fit: cover;
    }
    .user-con{
        position: relative;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        line-height: 1.4;
        h2{
            font-size: 14px;
            font-weight: bold;
            color: #727176;
            // color:#2E9FFE;
        }
        .official{
            color: #ff8200;
        }
        p{
            font-size: 12px;
            color: #949494;
            span:first-child{
                margin-right: 0.2rem;
            }
        }
    }
    .icon-lz{
        float: left;
        width: 0.56rem;
        height: 0.34rem;
        margin: 0.08rem 0 0 0.1rem;
        background-position: -1.71rem -1.88rem;
    }
    ul{
        display: flex;
        position: absolute;
        right: 0;
        top: 0.1rem;
        font-size: 13px;
        i{
            display: inline-block;
            width: 0.34rem;
            height: 0.34rem;
            vertical-align: middle;
            &.icon-zan{
                background-position: -5.84rem -0.25rem;
            }
            &.on{
                background-position: -5.84rem -1.05rem;
            }
            &.icon-comment{
                background-position: -2.66rem -1.03rem;
            }
        }
        span{
            color: #949494;
            vertical-align: middle;
            &:last-child{
                margin-right: 0.2rem;
            }
        }
    }
}
.comment-con-top{
    margin-bottom: 0.1rem;
    padding: 0 0.3rem 0.1rem;
    background: #fff;
}
.space{
    height: 0.68rem;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #f8f8f8;
    .f-comment{
        box-sizing: border-box;
        height: 0.6rem;
        line-height: 0.6rem;
        font-size: 12px;
        color: #727176;
        margin: 0.1rem 0.2rem 0.1rem;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e2e2e2;
        .icon-comment{
            float: left;
            width: 0.32rem;
            height: 0.32rem;
            margin: 0.14rem 0.1rem 0 0.1rem;
            background-position: -4.25rem -2.65rem;
        }
    }
}
