.comment-box{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
}
.header{
    button{
        position: absolute;
        right: 0.3rem;
        width: 0.8rem;
        height: 0.6rem;
        font-size: 16px;
        color: #fff;
        line-height: 0.6rem;
        margin-top: 0.14rem;
        border: none;
        border-radius: 5px;
        background: #c70019;
        outline: none;
    }
}
textarea{
    box-sizing: border-box;
    width: 100%;
    height: 3.5rem;
    font-size: 16px;
    padding: 0.1rem 0.15rem;
    border: none;
    outline: none;
    resize: none;
}
.publish-con{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.88rem;
    padding: 0 0.3rem;
    &.on{
        bottom: 4rem;
    }
    .emoji-logo{
        height: 100%;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        background: #fff;
        i{
            display: inline-block;
            width: 0.7rem;
            height: 0.7rem;
            margin-top: 0.09rem;
            margin-left: 0.1rem;
            &.icon-emoji{
                // margin-right: 0.4rem;
                background-position: -4.05rem -1.66rem;
            }
            &.pic{
                background-position: -4.86rem -1.66rem;
            }
        }
        span{
            float: right;
            height: 0.88rem;
            line-height: 0.88rem;
            color: #2E9FFE;
        }
        .tored{
            color: #c70019;
        }
    }
    .emoji-wrapper{
        height: 4rem;
        width: 100%;
        background: #fff;
        ul{
            width: 100%;
            height: 100%;
            overflow-y: auto;
            li{
                float: left;
                flex-basis: 12.5%;
                width: 0.6rem;
                height: 0.6rem;
                padding: 0.1rem 0.13rem;
                &:nth-child(8n){
                    padding: 0.1rem 0 0.1rem 0.15rem;
                }
                .emoticon{
                    display: inline-block;
                    width: 0.64rem;
                    height: 0.64rem;
                    background-size: 5.76rem 5.76rem;
                    background-image: url('/static/img/large-emoji.png');
                }
            }
        }
    }
}